apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Base resources to be imported from the base configuration
bases:
- ../../base
# Common labels for this overlay
commonLabels:
  env: sandbox
images:
- name: docker.io/cengleby86/test-image
  newTag: "0.17"
